.card{
    background-image: url(../assets/img/fondo.png);
    background-position: center;
    background-size: cover;
}

main{
    width: 100%;
}

.sidebar-activo {
    margin-top: 5rem;
    width: 100%;
}

.sidebar-inactivo {
    margin-top: 5rem;
    width: 100%;
}

table{
    width: 100%;
}

td{
    font-weight: 400;
    border: 1px solid rgb(219, 225, 231);
}

thead{
    background: rgb(203 213 225);
}

th{
    border: 1px solid rgb(150, 163, 178);
}

tbody{
    background: #ffffff;
}

@media (min-width: 768px){
    .sidebar-activo {
        margin-top: 5rem;
        width: calc(100% - 16.4em);
        transition: width 0.3s ease;
    }
    
    .sidebar-inactivo {
        margin-top: 5rem;
        width: calc(100% - 5em);
        transition: width 0.3s ease;
    }

    
    main{
        width: calc(100% - 5em);
    }

}