@font-face {
    font-family: 'Montserrat';
    src: url(/assets/fonts/Montserrat.ttf);
    font-display: fallback;
}


body{
    background: #e1e1e1;
    font-family: 'Montserrat', sans-serif;
}

.cont {
    padding: 2rem;
    min-height: 100vh;
}


form{
    background-color: #fff6ea;
    color: #121212;
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 2.5rem 4rem;
    border-radius: 12px;
    box-shadow: 0 0px 15px #1515157b;
}

.form__title{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.2rem;
}

.form__container{
    display: grid;
    gap: 1.3rem;
}

.form__group{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.form__input{
    width: 100%;
    color: #171717;
    outline: none;
    background: lightgrey;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 3%;
}

.form__select{
    color: #171717;
    outline: none;
    background: lightgrey;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 3%;
}
.form__date{
    color: #171717;
    outline: none;
    background: lightgrey;
    border: none;
    border-bottom: 1px solid black;
    padding-left: 3%;
}

[for="Sexo"], [for="Fnac"]{
    margin: 0 10% 0 0;
}

.form__label{
    cursor: pointer;
    margin-right: 10%;
}


.form__radio{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__radio__types{
    margin-left: 1rem;
    margin-top: .5rem;
    position: relative;
    right: 25%;
}

.form__label__radio{
    color: #1942ca;    
}


.form__btn{
    background-color: #1942ca;
    color: #f1f1ff;
    margin-top: 1rem;
    font-size: 1rem;
    border: none;
    cursor: pointer;
}

.form__guardar{
    color: black;
    margin: auto;
    width: 60%;
    font-weight: 600;
    background: #10b981;
}
.form__guardar:hover{
    background-color: #34ff34;
    border-color: #000000;
    color: #000;
}
